@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&display=swap');
*{ 
  font-family: 'Chakra Petch', sans-serif;
  padding: 0; margin: 0; box-sizing: border-box; 
  transition: all ease-in-out .3s; color: var(--text-color);
}

:root{
  --body-color: #E5E5E5;
  --header-game-color: #FEFEFE;
  --game-background-color: #333333;
  --primary-color: #C0F0F4;
  --logo-background-color: black;
  --logo-text-color: #C0F0F4;
  --header-title-color: black;
  --checkbox-background: #ffffff;
  --checkbox-circle-color: #5dbcc5;
  --checkbox-background-checked: #9fdee4;
  --text-color: black;
  --border-primary-color: #18a1ad;
}

body.dark{
  --body-color: #333333;
  --header-game-color: #666666;
  --game-background-color: #111111;
  --primary-color: #C0F0F4;
  --logo-background-color: #e7fbfd;
  --logo-text-color: #2994a0;
  --header-title-color: white;
  --text-color: #2994a0;
  --checkbox-background: #fdfdfd;
  --checkbox-circle-color: #487b80;
  --checkbox-background-checked: #C0F0F4;
  --border-primary-color: #77a7ac;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--body-color);
}

#container{
  overflow: hidden;
  border-radius: .25rem;
  background-color: var(--game-background-color);
  padding-bottom: 3rem;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,.5);
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  background-color: var(--header-game-color);
}

.header--title-game{
  display: flex;
  gap: .5rem;
  text-transform: capitalize;
  color: var(--header-title-color); 
}

.header--title-game--icon{
  height: 20px;
  width: 20px;
  background-color: var(--logo-background-color)  !important;
  color: var(--logo-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.header--title-game--name{
  color: var(--header-title-color) !important; 
}

#game{
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 0rem 2rem;
}

.game--info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0 1.5rem 0;
  color: var(--primary-color);
}

#canvas{
  border: 1px solid var(--primary-color);
  border-radius: .25rem;
}

#settings{
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  border: 1px dashed var(--border-primary-color);
  border-radius: .25rem;
  margin: 1rem 0 0 1rem;
  max-width: 510px;
}

.settings-title{
  margin-left: 1rem;
}

.options{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.checkbox-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 1rem 2rem;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background-color: var(--checkbox-background);
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 5px;
	width: 15px;
	height: 15px;
	background-color: var(--checkbox-circle-color);
	border-radius: 15px;
	transition: 0.3s;
}

input[type=checkbox]:checked + label {
	background-color: var(--checkbox-background-checked);
}

input[type=checkbox]:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 25px;
}

.info-board-status{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

.info-board-status ul{
  margin-left: 25px;
}