*{ padding: 0; margin: 0; box-sizing: border-box; transition: all ease-in-out .3s;}

:root{
  --body-color: #E5E5E5;
  --header-game-color: #FEFEFE;
  --game-background-color: #333333;
  --primary-color: #C0F0F4;
  --logo-background-color: black;
  --logo-text-color: #C0F0F4;
  --header-title-color: black;
}

body.dark{
  --body-color: #333333;
  --header-game-color: #666666;
  --game-background-color: #111111;
  --primary-color: #C0F0F4;
  --logo-background-color: #e7fbfd;
  --logo-text-color: #2994a0;
  --header-title-color: white;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--body-color);
}

#container{
  overflow: hidden;
  border-radius: .25rem;
  background-color: var(--game-background-color);
  padding-bottom: 3rem;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,.5);
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  background-color: var(--header-game-color);
}

.header--title-game{
  display: flex;
  gap: .5rem;
  text-transform: capitalize;
  color: var(--header-title-color);
}

.header--title-game--icon{
  height: 20px;
  width: 20px;
  background-color: var(--logo-background-color);
  color: var(--logo-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

#game{
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 0rem 2rem;
}

.game--info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0 1.5rem 0;
}

#canvas{
  border: 1px solid var(--primary-color);
  border-radius: .25rem;
}

#settings{
  position: absolute;
  top: 0;
  right: 0;
}